.main-header{
    clip-path: polygon(50% 0%, 100% 0, 100% 68%, 50% 100%, 0 74%, 0 0);
    background-color: #25262e;
    height: 150px;
    text-align: center; 
}
.project-logo{
    height: 120px;
    
}

.main-header>p{
    
}
